<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CyntecMESEquipment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CyntecMESEquipment.Properties.Settings>
            <setting name="CyntecMESEquipment_serviceEqp_Eqp_Portal" serializeAs="String">
                <!--<value>http://twcynmesWEBQA01/CyntecDataCenter/service/Eqp/Eqp_Portal.asmx</value>-->
				<value>http://twcynmes01.delta.corp/CyntecDataCenter/service/Eqp/Eqp_Portal.asmx</value>
            </setting>
        </CyntecMESEquipment.Properties.Settings>
    </applicationSettings>
    <appSettings>
        <add key="TimeSyncPort" value="9000" />
        <add key="TestMode" value="true" />
        <add key="ExternalLogPath" value="ftp://192.168.1.10/" />
        <add key="ExternalLogFtpUser" value="ftpuser" />
        <add key="ExternalLogFtpPassword" value="1234" />
        <add key="CheckRecipeID" value="MHUN12AD03SEC_BVIA2" />
		<add key="CheckWorkOrder" value="999999999999" />
    </appSettings>
    <log4net>
        <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
            <!-- 檔案路徑改為 log/dd/HH.log 循環覆蓋模式 -->
            <file value="log\" />
            <appendToFile value="false" />
            <staticLogFileName value="false" />
            <rollingStyle value="Date" />
            <datePattern value="dd'/'HH'.log'" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[%date{yyyy-MM-dd HH:mm:ss.fff}] [%property{LogType}] %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="ALL" />
            <appender-ref ref="RollingFile" />
        </root>
    </log4net>
</configuration>
