<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CyntecMESEquipment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CyntecMESEquipment.Properties.Settings>
            <setting name="CyntecMESEquipment_serviceEqp_Eqp_Portal" serializeAs="String">
                <value>http://twcynmes01/CyntecDataCenter/service/Eqp/Eqp_Portal.asmx</value>
            </setting>
        </CyntecMESEquipment.Properties.Settings>
    </applicationSettings>
</configuration>